/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font size 

- Font weights
  
- Line heights

- Letter spacing


--- 02 COLORS

- Primary:

- Accents:

- Greys:


--- 05 SHADOWS


--- 06 BORDER-RADIUS

Default: 
Medium: 

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  /* COLORS */
  /* MAIN */
  --main-yellow-tint4: #fffaee;
  --main-yellow-tint3: #ffefcd;
  --main-yellow-tint2: #ffe4ab;
  --main-yellow-tint1: #ffd379;
  --main-yellow: #ffc857;
  --main-yellow-shade1: #80642c;
  --main-yellow-shade2: #4c3c1a;
  --main-yellow-shade3: #332811;
  --main-yellow-shade4: #191409;
  /* GREY */
  --grey: #706f6f;
  --grey-shade1: #5a5959;
  --grey-shade2: #434343;
  /* ACCENT */
  --accent-red: #d9534f;

  /* FONT-SIZES */
  --size-xl: 5.2rem;
  --size-large: 4.4rem;
  --size-medium: 3.6rem;
  --size-small: 2.4rem;
  --size-small-x1: 1.6rem;
  --size-small-x2: 1.2rem;
  /* FONT WEIGHTS */
  --bold: 700;
  --semi-bold: 600;
  --regular: 400;

  /* WHITESPACE */
  --ws-xl-x5: 20rem;
  --ws-xl-x4: 18rem;
  --ws-xl-x3: 15rem;
  --ws-xl-x2: 12.8rem;
  --ws-xl-x1: 8rem;
  --ws-xl: 6.4rem;
  --ws-large: 4.8rem;
  --ws-medium: 3.2rem;
  --ws-small: 2.4rem;
  --ws-small-x1: 1.6rem;
  --ws-small-x2: 1.2rem;
  --ws-small-x3: 0.4rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  color: var(--grey);
  background-color: var(--main-yellow-tint3);
  font-family: "Inter", sans-serif;
}

.default-btn {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.emphasis {
  font-weight: var(--bold);
  color: var(--accent-red);
}
.checkbox-reset {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
}
.divider {
  margin: 0 auto;
  border: 1px solid var(--main-yellow-shade1);
}
.divider--margin-bot {
  margin-bottom: var(--ws-small);
}
.divider--size {
  width: 90%;
}
.reset-focus {
  outline: none;
}
