
/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font size 

- Font weights
  
- Line heights

- Letter spacing


--- 02 COLORS

- Primary:

- Accents:

- Greys:


--- 05 SHADOWS


--- 06 BORDER-RADIUS

Default: 
Medium: 

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


:root{
  /* COLORS */
  /* MAIN */
  --main-yellow:#FFC857;
  /* GREY */
  --grey: #706F6F;
  /* ACCENT */
  --accent-red: #D9534F;
  
  /* FONT-SIZES */
  /* FONT WEIGHTS */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  color: var(--grey);
  
  font-family: "Inter", sans-serif;
}