.header {
  background: url(imgs/carousel/header-background2.jpg) center/cover no-repeat;
  height: 90vh;
  position: relative;
  align-content: center;
  justify-items: center;
}
.header::before {
  content: "";

  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.title,
.sub-title,
.create-recipe {
  position: relative;
  z-index: 2;
}
.title {
  font-size: var(--size-xl);
  font-weight: var(--bold);
  text-transform: capitalize;
  color: var(--main-yellow-shade4);
  letter-spacing: -0.8px;
  margin-bottom: var(--ws-small-x3);
}
.sub-title {
  font-size: var(--size-small);
  font-weight: var(--regular);
  letter-spacing: 1px;
  margin-bottom: var(--ws-small);
}
.create-recipe {
  font-size: var(--size-small-x1);
  font-weight: var(--semi-bold);
  color: var(--main-yellow-shade4);
  text-transform: capitalize;
  background-color: var(--main-yellow);
  padding: 1.6rem 3.2rem;
  border-radius: 100px;
}
.create-recipe:hover,
.create-recipe:active {
  box-shadow: inset 0 0 10px 5px rgba(25, 20, 9, 0.1);
}
.main {
  padding: var(--ws-xl-x5) 0;
}

.recipe {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 var(--ws-small);
}
.recipe-container {
  background-color: var(--main-yellow-tint2);
  border-radius: 10rem;
}
.recipe-header,
.ingredients,
.instructions,
.nutrition {
  padding: var(--ws-large);
}
.recipe-header {
  position: relative;
  background-color: var(--main-yellow);
  border-radius: 10rem 10rem 0 0;

  padding-top: calc(15% + var(--ws-small-x1));
}
.recipe-img-container {
  position: relative;
}
.recipe-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.recipe-name,
.divider,
.rating,
.number-reviews,
.recipe-details {
  text-align: center;
}
.recipe-name {
  font-size: var(--size-medium);
  font-weight: var(--semi-bold);
  color: var(--main-yellow-shade4);
  margin-bottom: var(--ws-medium);
}

.ratings {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 20%;
  margin: 0 auto;
  margin-bottom: var(--ws-small-x1);
}
.star-rating {
  width: calc(100% / 5);
}
.number-reviews {
  color: var(--grey-shade1);
  font-size: var(--size-small-x1);
  font-weight: var(--regular);
  margin-bottom: var(--ws-small);
}
.recipe-details {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: var(--ws-small);

  margin: 0 auto;
}
.recipe-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--ws-small-x3);
}
.recipe-icon {
  font-size: 3rem;
}
.recipe-icon,
.recipe-more-dets {
  color: var(--main-yellow-shade2);
}
.recipe-more-dets {
  font-size: var(--size-small-x1);
  font-weight: var(--semi-bold);
}
.ingredients {
  background-color: var(--main-yellow-tint2);
}
.ingredients-label {
  color: var(--main-yellow-shade4);
  font-size: var(--size-small);
  font-weight: var(--semi-bold);
  margin-bottom: var(--ws-small-x1);
}
.servings {
  color: var(--grey-shade2);
  font-size: var(--size-small-x1);
  font-weight: var(--regular);
  margin-bottom: var(--ws-small-x1);
}
.ingredient-sets {
  display: flex;
  flex-direction: column;
  gap: var(--ws-small-x1);
}
.ingredient-set {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.set-label {
  color: var(--main-yellow-shade4);
  font-size: var(--size-small-x1);
  font-weight: var(--semi-bold);
  margin-bottom: var(--ws-small-x2);
}
.ingredient {
  color: var(--main-yellow-shade4);
  font-size: var(--size-small-x1);
  font-weight: var(--regular);
  display: grid;
  grid-template-columns: 1.7rem auto;
  column-gap: var(--ws-small-x2);
}
.ingredient:not(:last-child) {
  margin-bottom: var(--ws-small-x2);
}
.ingredient-checkbox {
  --border-size: 0.2rem;
  --border-radius: 0.3rem;
  color: inherit;
  aspect-ratio: 1;
  border-radius: var(--border-radius);
  border: var(--border-size) solid currentColor;
  display: grid;
  place-content: center;
  transform: translateY(0.2rem);
}
.ingredient-checkbox::before {
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.1rem;
  background-color: var(--main-yellow-shade2);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transition: all 120ms ease-in-out;
}
.ingredient-checkbox:checked::before {
  transform: scale(1);
}
.ingredient-p {
  line-height: 1.7;
}
.instructions {
  color: var(--main-yellow-shade4);
  font-size: var(--size-small-x1);
  font-weight: var(--regular);
  background-color: var(--main-yellow-tint2);
  display: flex;
  flex-direction: column;
  gap: var(--ws-small-x1);
}
.instructions-label {
  font-size: var(--size-small);
  font-weight: var(--bold);
  margin-bottom: var(--ws-small-x1);
}
.instruction-list {
  counter-reset: ingredients;
  list-style: none;
  display: flex;
  flex-direction: column;

  gap: var(--ws-small);
}
.instruction-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--ws-small);
  align-items: start;
  line-height: 1.7;
}
.instruction-desc::before {
  counter-increment: ingredients;
  content: counter(ingredients);

  font-size: var(--size-small-x1);
  font-weight: 700;
  line-height: 1.3;
  width: 2.5rem;
  aspect-ratio: 1;

  margin-top: 0.1rem;

  color: #fff;
  background-color: var(--main-yellow-shade1);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.nutrition {
  display: flex;
  flex-direction: column;
  gap: var(--ws-small-x1);
  font-size: var(--size-small-x1);
  color: var(--main-yellow-shade4);
  background-color: var(--main-yellow-tint2);
  border-radius: 0 0 10rem 10rem;
  padding-bottom: var(--ws-xl-x1);
}
.nutrition-header {
  display: flex;
  align-items: center;
  gap: var(--ws-small-x1);
}
.nutrition-label {
  font-size: var(--size-small);
  font-weight: var(--bold);
}
.nutrition-info {
  display: flex;
  gap: var(--ws-small);
}
.nutrition-bold {
  font-weight: var(--bold);
}
