.header {
  background: url(/imgs/carousel/header-background2.jpg) center/cover no-repeat;
  height: 100vh;
  position: relative;
  align-content: center;
  justify-items: center;
}
.header::before {
  content: "";

  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.title,
.sub-title,
.create-recipe {
  position: relative;
  z-index: 2;
}
.title {
  font-size: var(--size-xl);
  font-weight: var(--bold);
  text-transform: capitalize;
  color: var(--main-yellow-shade4);
  letter-spacing: -0.8px;
  margin-bottom: var(--ws-small-x3);
}
.sub-title {
  font-size: var(--size-small);
  font-weight: var(--regular);
  letter-spacing: 1px;
  margin-bottom: var(--ws-small);
}
.create-recipe {
  font-size: var(--size-small-x1);
  font-weight: var(--semi-bold);
  color: var(--main-yellow-shade4);
  text-transform: capitalize;
  background-color: var(--main-yellow);
  padding: 1.6rem 3.2rem;
  border-radius: 100px;
}
.create-recipe:hover,
.create-recipe:active {
  box-shadow: inset 0 0 10px 5px rgba(25, 20, 9, 0.1);
}
.main {
  padding: var(--ws-xl-x5) 0;
}

.recipe {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 var(--ws-small);
}
.recipe-container {
  background-color: var(--main-yellow-tint2);
  border-radius: 10rem;
}
.recipe-header,
.ingredients,
.instructions,
.nutrition {
  padding: var(--ws-large);
}
.recipe-header {
  position: relative;
  background-color: var(--main-yellow);
  border-radius: 10rem 10rem 0 0;

  padding-top: calc(15% + var(--ws-small-x1));
}
.recipe-img-container {
  position: relative;
}
.recipe-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.recipe-name,
.divider,
.rating,
.number-reviews,
.recipe-details {
  text-align: center;
}
.recipe-name {
  font-size: var(--size-medium);
  font-weight: var(--semi-bold);
  color: var(--main-yellow-shade4);
  margin-bottom: var(--ws-medium);
}

.ratings {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 20%;
  margin: 0 auto;
  margin-bottom: var(--ws-small-x1);
}
.star-rating {
  width: calc(100% / 5);
}
.number-reviews {
  color: var(--grey-shade1);
  font-size: var(--size-small-x1);
  font-weight: var(--regular);
  margin-bottom: var(--ws-small);
}
.recipe-details {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: var(--ws-small);

  margin: 0 auto;
}
.recipe-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--ws-small-x3);
}
.recipe-icon {
  font-size: 3rem;
}
.recipe-icon,
.recipe-more-dets {
  color: var(--main-yellow-shade2);
}
.recipe-more-dets {
  font-size: var(--size-small-x1);
  font-weight: var(--semi-bold);
}
.ingredients {
  background-color: var(--main-yellow-tint2);
}
.ingredients-label {
  color: var(--main-yellow-shade4);
  font-size: var(--size-small);
  font-weight: var(--semi-bold);
  margin-bottom: var(--ws-small-x1);
}
.servings {
  color: var(--grey-shade2);
  font-size: var(--size-small-x1);
  font-weight: var(--regular);
  margin-bottom: var(--ws-small-x1);
}
.ingredient-sets {
  display: flex;
  flex-direction: column;
  gap: var(--ws-small-x1);
}
.ingredient-set {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.set-label {
  color: var(--main-yellow-shade4);
  font-size: var(--size-small-x1);
  font-weight: var(--semi-bold);
  margin-bottom: var(--ws-small-x2);
}
.ingredient {
  color: var(--main-yellow-shade4);
  font-size: var(--size-small-x1);
  font-weight: var(--regular);
  display: grid;
  grid-template-columns: 1.7rem auto;
  column-gap: var(--ws-small-x2);
}
.ingredient:not(:last-child) {
  margin-bottom: var(--ws-small-x2);
}
.ingredient-checkbox {
  --border-size: 0.2rem;
  --border-radius: 0.3rem;
  color: inherit;
  aspect-ratio: 1;
  border-radius: var(--border-radius);
  border: var(--border-size) solid currentColor;
  display: grid;
  place-content: center;
  transform: translateY(0.2rem);
}
.ingredient-checkbox::before {
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.1rem;
  background-color: var(--main-yellow-shade2);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transition: all 120ms ease-in-out;
}
.ingredient-checkbox:checked::before {
  transform: scale(1);
}
.ingredient-p {
  line-height: 1.7;
}
.instructions {
  color: var(--main-yellow-shade4);
  font-size: var(--size-small-x1);
  font-weight: var(--regular);
  background-color: var(--main-yellow-tint2);
  display: flex;
  flex-direction: column;
  gap: var(--ws-small-x1);
}
.instructions-label {
  font-size: var(--size-small);
  font-weight: var(--bold);
  margin-bottom: var(--ws-small-x1);
}
.instruction-list {
  counter-reset: ingredients;
  list-style: none;
  display: flex;
  flex-direction: column;

  gap: var(--ws-small);
}
.instruction-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--ws-small);
  align-items: start;
  line-height: 1.7;
}
.instruction-desc::before {
  counter-increment: instructions;
  content: counter(instructions);

  font-size: var(--size-small-x1);
  font-weight: 700;
  line-height: 1.3;
  width: 2.5rem;
  aspect-ratio: 1;

  margin-top: 0.1rem;

  color: #fff;
  background-color: var(--main-yellow-shade1);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.nutrition {
  display: flex;
  flex-direction: column;
  gap: var(--ws-small-x1);
  font-size: var(--size-small-x1);
  color: var(--main-yellow-shade4);
  background-color: var(--main-yellow-tint2);
  border-radius: 0 0 10rem 10rem;
  padding-bottom: var(--ws-xl-x1);
}
.nutrition-header {
  display: flex;
  align-items: center;
  gap: var(--ws-small-x1);
}
.nutrition-label {
  font-size: var(--size-small);
  font-weight: var(--bold);
}
.nutrition-info {
  display: flex;
  gap: var(--ws-small);
}
.nutrition-bold {
  font-weight: var(--bold);
}
.important-icons {
  display: flex;
  gap: var(--ws-medium);
  justify-content: flex-end;
  margin-right: var(--ws-xl-x1);
  margin-top: var(--ws-small);
}

.important-btn {
  background-color: transparent;
  transition: all 0.3s;
}
.delete-icon:hover,
.delete-icon:active {
  transform: scale(1.2);
  color: var(--accent-red);
}
.edit-icon:hover,
.edit-icon:active {
  transform: scale(1.2);
  color: rgb(31, 81, 232);
}
.important-icon {
  font-size: 32px;
}
.floating-create-recipe {
  background-color: transparent;
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 2;
}
.floating-create-recipe::after,
.floating-create-recipe::before {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}
.floating-create-recipe::before {
  content: "";
  border: 10px solid #000;
  border-color: var(--main-yellow) transparent transparent transparent;
  position: absolute;
  bottom: 100%;
  right: 50%;
  transform: translateX(50%);
  margin-bottom: -4px;
}
.floating-create-recipe::after {
  content: attr(data-text);
  position: absolute;
  background-color: var(--main-yellow);
  bottom: 100%;
  right: 0;
  width: 10rem;
  text-align: right;
  padding: var(--ws-small-x1);
  margin-bottom: 15px;
}
.floating-create-recipe:hover::after,
.floating-create-recipe:hover::before {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.plus-icon {
  font-size: 64px;
  color: var(--accent-red);
}
.create-recipe-container {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: var(--main-yellow-tint4);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--ws-large);
  transition: all 0.3s;
  z-index: 4;
}

.show-create-recipe-container .create-recipe-container {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
}
.show-form-overlay .form-overlay {
  display: block;
}
.hide-scroll {
  overflow: hidden;
}

.create-recipe-label {
  font-size: var(--size-medium);
  font-weight: var(--bold);
  color: var(--main-yellow-shade1);
  margin-bottom: var(--ws-small);
}
.create-recipe-form {
  max-height: 50rem;
  overflow-y: auto;
}
.form-label {
  font-size: var(--size-small);
  font-weight: var(--semi-bold);
  margin-bottom: var(--ws-small-x1);
}
.create-form {
  display: flex;
  flex-direction: column;
  gap: var(--ws-small-x1);
}
.basic-input-recipe {
  /* display: flex; */
  flex-direction: column;
  gap: var(--ws-small-x2);
  margin-right: var(--ws-small-x2);
  margin-left: var(--ws-small-x3);
}
.create-form-1,
.create-form-2,
.create-form-3,
.create-form-4 {
  display: none;
}
.show-form-1 .create-form-1 {
  display: flex;
}
.label-input-grouping {
  display: flex;
  flex-direction: column;
  gap: var(--ws-small-x2);
}
.create-input-label,
.create-input {
  font-size: var(--ws-small-x1);
  font-weight: var(--regular);
}
.create-input {
  padding: 0.8rem;
  font-family: "Inter", sans-serif;
  color: var(--main-yellow-shade4);
  border: 1.3px solid var(--main-yellow-shade3);
  border-radius: 0.5rem;
}

.create-input:focus {
  outline: 2px solid var(--main-yellow-shade3);
  outline-offset: 2px;
}
.time-inputs-container,
.dropdown-inputs-container,
.other-inputs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--ws-small);
}
.timer-container {
  display: flex;
  border: 1.3px solid var(--main-yellow-shade3);
  gap: var(--ws-small-x3);
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
}
.timer-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ws-small-x3);

  position: relative;
}
.timer-time-label {
  position: absolute;
  top: var(--ws-small-x2);
}

.create-input-timer {
  width: 60px;
  padding-top: var(--ws-medium);
  padding-bottom: var(--ws-small-x2);
  border: none;
  text-align: center;
  appearance: none;
  -moz-appearance: textfield;
}
.create-input-timer:focus {
  outline-offset: 0;
}

.colon {
  font-size: var(--size-small);
  margin-top: var(--ws-small-x2);
}

.custom-select {
  position: relative;
}

.create-input-dropdown {
  appearance: none;
  cursor: pointer;
  padding: var(--ws-small-x2);
  width: 100%;
  background-color: #fff;
}
.create-input-dropdown:focus-visible {
  outline-offset: 0;
}
.custom-select::before,
.custom-select::after {
  --size: 0.4rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}
.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--main-yellow-shade4);
  top: 38%;
}
.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--main-yellow-shade4);
  top: 55%;
}
.upload-photo-custom {
  background: #000;
  position: relative;
  height: 4rem;
  border: 1.3px solid var(--main-yellow-shade3);
  border-radius: 0.5rem;
  overflow: hidden;
}

.recipe-photo-input {
  opacity: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.file-custom {
  font-size: var(--ws-small-x1);

  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.file-custom::before,
.file-custom::after {
  transition: all 0.3s;
}
.file-custom::before {
  content: attr(data-before);
}
.file-custom::after {
  color: #fff;
  padding: 1rem;
  content: "Browse";
  background-color: var(--grey-tint-1);

  position: absolute;
  top: 0;
  right: 0;
}

.upload-photo-custom:active .file-custom::after {
  background-color: rgb(177, 177, 177);
}

.next-btn {
  font-size: var(--size-small-x1);
  font-weight: var(--semi-bold);
  color: var(--main-yellow-tint4);
  font-family: "Inter", sans-serif;

  width: max-content;
  margin-left: auto;
  margin-top: var(--ws-small-x1);
  margin-right: var(--ws-small-x2);
  padding: var(--ws-small-x2) var(--ws-medium);
  background-color: var(--main-yellow-shade2);
  border-radius: 1rem;

  display: flex;

  align-items: center;
  gap: var(--ws-small-x2);
  transition: all 0.3s;
}

.next-btn:focus-visible {
  outline: 2px solid var(--main-yellow-shade3);
  outline-offset: 2px;
}
.next-btn:hover,
.next-btn:active {
  background-color: var(--main-yellow-shade1);
}
.hide-arrow-icon .arrow-icon-container {
  display: none;
}
.arrow-icon-container {
  display: grid;
  place-content: center;
}

/* Ingredients inputs */
.ingredient-sets-input {
  flex-direction: column;
  gap: var(--ws-small-x1);
  margin-right: var(--ws-small-x2);
  margin-left: var(--ws-small-x3);
}
.show-form-2 .create-form-2 {
  display: flex;
}
.ingredient-set {
  display: flex;
  flex-direction: column;
  gap: var(--ws-small-x2);
}
.ingredient-set:last-of-type {
  margin-bottom: var(--ws-small-x1);
}
.upper-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.set-name-input {
  border: none;
  background-color: transparent;

  font-size: var(--ws-small);
  font-weight: var(--regular);
  font-family: inherit;
  color: var(--main-yellow-shade4);
}
.delete-set-btn {
  padding: var(--ws-small-x2) var(--ws-small-x1);
  border-radius: 0.7rem;
  width: max-content;
  font-size: var(--ws-small-x1);
  font-weight: var(--regular);
  font-family: inherit;
  border-radius: 1rem;
  font-size: var(--size-small-x1);
  font-weight: var(--semi-bold);
  background-color: var(--accent-red-tint1);
  color: var(--main-yellow-tint4);
  transition: all 0.3s;
}
.delete-set-btn:hover,
.delete-set-btn:active {
  background-color: var(--accent-red-tint2);
}
.delete-set-btn:disabled {
  background-color: var(--accent-red-disabled);
}
.ingredient-inputs-container {
  margin-bottom: var(--ws-small-x1);
}
.ingredient-inputs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: var(--ws-small-x1);
  row-gap: var(--ws-small-x2);
}
.delete-ingredient-btn {
  background-color: var(--accent-red-tint1);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--ws-small-x3);
  border-radius: 0.5rem;
  transition: all 0.3s;
  color: var(--main-yellow-tint4);
}
.delete-ingredient-btn:hover,
.delete-ingredient-btn:active {
  background-color: var(--accent-red-tint2);
}
.delete-ingredient-btn:disabled {
  background-color: var(--accent-red-disabled);
}
.delete-ingredient-icon {
  font-size: var(--ws-small);
  --ionicon-stroke-width: 40px;
}
.ingredient-dets-label {
  grid-column: span 2;
}
.ingredient-qty-input {
  width: 5rem;
}
.measurement-input {
  width: 100%;
}
.divider-create-recipe {
  margin: 0;
}
.add-ingredient-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--accent-green);
  padding: var(--ws-small-x2) var(--ws-small-x1);
  border-radius: 0.7rem;
  font-size: var(--size-small-x1);
  font-weight: var(--semi-bold);
  color: var(--main-yellow-tint4);
}
.add-ingredient-btn:hover,
.add-ingredient-btn:active {
  background-color: var(--accent-green-tint1);
}
.add-ingredient-icon {
  --ionicon-stroke-width: 50px;
}
.add-set-btn {
  font-size: 2.2rem;
  font-weight: var(--bold);
  color: var(--main-yellow-tint4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--ws-small-x1);
  width: 100%;

  padding: var(--ws-small-x1) var(--ws-small);
  border-radius: 0.7rem;
  background-color: var(--main-yellow-shade2);
  transition: all 0.3s;
}
.add-set-btn:hover,
.add-set-btn:active {
  background-color: var(--main-yellow-shade1);
}
.add-set-icon {
  --ionicon-stroke-width: 60px;
}
/* Instructions Form */
.instructions-input-container {
  /* display: flex; */
  flex-direction: column;
  gap: var(--ws-small);
  counter-reset: instructions;
  margin-block: var(--ws-small);
  margin-right: var(--ws-small-x2);
  margin-left: var(--ws-small-x3);
}
.show-form-3 .create-form-3 {
  display: flex;
}
.instruction-input-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: var(--ws-small-x1);
  padding: var(--ws-small-x1);
  border-radius: 0.7rem;
  background-color: var(--main-yellow-tint2);
  position: relative;
}
.instruction-input-container:before {
  color: var(--main-yellow-tint4);
  font-size: var(--ws-small);
  font-weight: var(--regular);
  counter-increment: instructions;
  content: counter(instructions);
  width: 3.7rem;
  aspect-ratio: 1;
  background-color: var(--main-yellow-shade1);
  border-radius: 0.5rem;
  display: grid;
  place-content: center;
}
.instruction-input-container:last-of-type {
  margin-bottom: var(--ws-small-x1);
}
.instruction-input {
  height: 10rem;
  width: 40rem;
}
.delete-instruction-btn {
  background-color: var(--accent-red-tint1);
  color: var(--main-yellow-tint4);
  display: grid;

  place-content: center;
  padding: var(--ws-small-x3);
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.delete-instruction-btn:hover,
.delete-instruction-btn:active {
  background-color: var(--accent-red-tint2);
}
.delete-instruction-btn:disabled {
  background-color: var(--accent-red-disabled);
}
.delete-instruction-icon {
  font-size: var(--size-small);
}

.add-instruction-btn {
  font-size: 2.2rem;
  font-weight: var(--bold);
  color: var(--main-yellow-tint4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--ws-small-x1);
  width: 100%;

  padding: var(--ws-small-x1) var(--ws-small);
  border-radius: 0.7rem;
  background-color: var(--main-yellow-shade2);
  transition: all 0.3s;
}
.add-instruction-btn:hover,
.add-instruction-btn:active {
  background-color: var(--main-yellow-shade1);
}
.add-instruction-icon {
  --ionicon-stroke-width: 60px;
}
/* Nutrition Inputs */
.nutrition-inputs-container {
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  gap: var(--ws-small-x1);
  margin-block: var(--ws-small-x2);
  margin-right: var(--ws-small-x2);
  margin-left: var(--ws-small-x3);
}
.show-form-4 .create-form-4 {
  display: grid;
}
.nutrition-input-container {
  display: flex;
  flex-direction: column;
  gap: var(--ws-small-x2);
}
.nutrition-input {
  display: flex;
  align-items: center;
  gap: var(--ws-small-x2);
}
.nutrition-qty-input {
  width: 12rem;
}
.nutrition-measurement {
  font-size: var(--size-small-x1);
  font-weight: var(--regular);
  flex: 1;
}
/* No recipe styles */
.no-recipe-h1 {
  text-align: center;
  font-size: var(--size-medium);
  font-weight: var(--semi-bold);
  color: var(--grey-tint-1);
}
